@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Quicksand", sans-serif;
}
img {
  max-width: 100%;
}
$header_color: #1e1e1e;
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.clear-both {
  clear: both;
}
.main-app {
  .navbar.navbar-dark {
    background-color: $header_color;
    .menu-title {
      top: 0;
      left: 0;
      z-index: 0;
    }
    button {
      z-index: 1;
    }
  }
  .header {
    background-color: $header_color;
    .row-1 {
      border-bottom: 1px solid #262626;
    }
    .profile {
      .avatar {
        margin-top: -20px;
      }
      .name {
        font-size: 27px;
      }
    }
    .img-type {
      margin-top: -7px;
    }
    .point-top {
      img {
        margin-top: -5px;
      }
    }
    .point-1 {
      font-size: 20px;
    }
    .point-2 {
      font-size: 30px;
    }
    .point-3 {
      font-size: 25px;
    }
    .in-out {
      button {
        background: #fcc902;
        color: #000;
        border: none;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }
  .items {
    .item {
      margin-top: 10px;
    }
  }
  .strikethrough {
    background: #f8f8f8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .footer {
    background: #fafafa;
    color: #989898;
    .item {
      width: calc(100% / 5);
      float: left;
      .img {
        height: 35px;
      }
    }
  }
  .row-3 {
    font-size: 11px;
  }
}
